html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#contentHead {
  font-size: 2em;
  text-align: center;
}

#content {
  font-size: 1em;
  text-align: left;
  margin: 100px auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 15px;
}

div {
  border: 0.25em solid black;
}